<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<P><strong>Title:</strong><%= @book.title %></P>

<p><strong>Body:</strong><%= @book.body %></p>
