// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
  margin: 33px;
  color: #333333;
}

h1 {
  margin: 0 auto;
  color: #333333;
  font-size: 26px;
}

strong {
  color: #333333;
}

.top-text {
  margin: 33px;
  color: #333333;
  font-size: 13px;
}

.button {
  margin: 33px;
}

a {
  color: #666666;
  font-size: 13px;
}